@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@font-face {
	font-family: 'Spotnik';
	src: url('https://ipfs.io/ipfs/QmX6CSaXyDB9pzoHPcdd8E2WjYehiv4A5MSamQo1wtcahv/Spotnik.woff2') format('woff2');
}
@font-face {
	font-family: 'SF Mono';
	src: url('https://ipfs.io/ipfs/QmX6CSaXyDB9pzoHPcdd8E2WjYehiv4A5MSamQo1wtcahv/SF-Mono.woff2') format('woff2');
}
@font-face {
	font-family: 'Bioliquid';
	src: url('https://ipfs.io/ipfs/QmX6CSaXyDB9pzoHPcdd8E2WjYehiv4A5MSamQo1wtcahv/Bioliquid.woff2') format('woff2');
}
body {
	font-family: 'Spotnik', sans-serif;
	color: orangered;
	background: black;
	background-size: auto;
	justify-content: center;
	display: inline;
	margin: 0 auto;
	font-weight: 700;
}
.body-inner {
  background: white;
  border-radius: 10px;
  padding: 15px;
}
h1 {
	font-family: 'Bioliquid';
}
p {
	margin-top: -15px;
	margin-bottom: 35px;
}
.header {
	max-width: 500px;
	margin: 0% auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container {
	max-width: 500px;
	margin: 0% auto;
	padding: 20px;
	box-sizing: border-box;
	background: rgba(66,46,40,0.0);
	background-size: contain;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container-2 {
	max-width: 500px;
	margin: 0% auto;
	padding: 20px;
	box-sizing: border-box;
	background: none;
	background-size: contain;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.readme {
	width: 90%;
	margin: 0% auto;
	font-weight: 400;
	letter-spacing: -0.35px;
	margin-bottom: 10px;
}
input[type="text"] {
	font-family: 'SF Mono';
	display: block;
	min-width: 425px;
	max-width: 100%;
	height: 30px;
	padding-left: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: black;
	border-radius: 5px;
	font-size: 15px;
	color: white;
	outline: none;
	border: none;
}
input[type="text"]::placeholder {
	text-align: center;
}
.bottom {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.button {
	font-family: 'Spotnik';
	display: block;
	width: 250px;
	margin: 20px auto;
	padding: 10px 20px;
	box-sizing: border-box;
	background-image: none;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease;
	border: 0 solid white;
	font-size: 20px;
	font-weight: 700;
	transition: transform 0.2s ease;
}
.button:hover{
	transform: scale(1.3);
}
.button-search {
	font-family: 'Spotnik';
	display: block;
	padding: 15px;
	margin-top: 20px;
	margin-left: 10px;
	padding-top: 25px;
	padding-left: 35px;
	padding-right: 35px;
	box-sizing: border-box;
	background-image: linear-gradient(112deg, rgba(190,95,65,1) 0%, rgba(191,41,36,1) 48%, rgba(203,111,0,1) 100%);
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease;
	border: 0 solid white;
	font-size: 24px;
	font-weight: 700;
	transition: transform 0.2s ease;
}
.button-search:hover {
	transform: scale(1.3);
}
.modal {
	width: 500px;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -400px auto;
	z-index: 999;
}
.modal-content {
	max-width: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 10px;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}
.modal-content.success {
	background-color: none;
	color: lightgreen;
	font-size: 24px;
}
.modal-content.failure {
	background-color: none;
	color: red;
}
.close-button {
	font-family: 'Spotnik', sans-serif;
	display: block;
	width: 120px;
	margin: 20px auto;
	padding: 12px 10px 10px 10px;
	box-sizing: border-box;
	background-image: linear-gradient(112deg, rgba(190,95,65,1) 0%, rgba(191,41,36,1) 48%, rgba(203,111,0,1) 100%);
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	border: 0 solid white;
	transition: transform 0.2s ease;
}
.close-button:hover {
	transform: scale(1.3);
}
