hosts

manager/.env
manager/node_modules/
manager/package-lock.json
manager/.DS_Store
manager/*/.DS_Store
manager/*/*/.DS_Store

gateways/.env
gateways/node_modules/
gateways/package-lock.json
gateways/.DS_Store
gateways/*/.DS_Store
gateways/*/*/.DS_Store

frontend/.env
frontend/node_modules/
frontend/package-lock.json
frontend/out*
frontend/build*
frontend/*/img
frontend/.next
frontend/.DS_Store
frontend/*/.DS_Store
frontend/*/*/.DS_Store
frontend/*/*/*/.DS_Store
frontend/*/*/*/*/.DS_Store

contracts/cache/
contracts/.env
contracts/*/.DS_store
contracts/.DS_store
.DS_store
contracts/broadcast/*/*/*
!contracts/broadcast/*/*/run-latest.json

contracts/out/*/*
!contracts/out/Resolver.sol/*
!contracts/out/ERC721.sol/*
